/*GAME FONT */
@font-face {
    font-family: 'pixel';
    src: url('webfontkit/pixelemulator-xq08-webfont.woff2') format('woff2'),
         url('webfontkit/pixelemulator-xq08-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  background-color: black;
  font-family: monospace;
  font-size: 14px;
}

header > nav{
  background-color: white;
  text-align: center;
  border-radius: 16px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

header > nav > a{
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-weight:bold;
}

a{
  color: #ff008f;
  text-decoration: none;
}

a:hover{
  color: purple;
}

article{
  background-color: white;
  border-radius: 16px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

article > header > h2{
  margin-top: 0px;
  margin-bottom: 2px;
}

img{
  border-radius: 26px;
  margin: 6px;
  width: 200px;
}

p{
  align-content: center;
}

footer{
  background-color: white;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
