body{
  background-color: #dad6d7;
  font-family: monospace;
  font-size: 14px;
  color: #4f418c;
}

.main{
  width: 60%;
  display: block;
  position: fixed;
  margin-left: 20%;
}

a{
  text-decoration: none;
  color: #dad6d7;
  font-weight: bold;
}

.screen{
  background-color: #7c7c7e;
  border-radius: 16px;
  box-shadow: 2px 2px #7e777e;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

h1{
  margin-top: 2px;
}
.R_a{
  margin-right: 2%;
  margin-top: 2%;
  float: right;
}

.R_b{
  margin-right: 5%;
  margin-top: 7%;
  float: right;
}

.right_buttons{
  background-color: #aa4974;
  box-shadow: 5px 5px #774e57;
  border: 4px;
  border-color: #774e57;
  border-radius: 75px;
  color: #dad6d7;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}

.L{
  margin-top: 2px;
  float: left;
}

.arrows{
  background-color: #2e2c31;
  border-collapse: collapse;
  border-radius: 10px;
  border: 1rem;
  box-shadow: 4px 4px #30272b;
}

.arrow_keys{
  display: grid;
  grid-template-columns: repeat(3,0fr);
}

#up{
  grid-row-start: 1;
  grid-column-start: 2;
  height: 4rem;
  width: 3rem;
}

#down{
  grid-row-start: 3;
  grid-column-start: 2;
  height: 4rem;
  width: 3rem;
}

#left{
  grid-row-start: 2;
  grid-column-start: 1;
  height: 3rem;
  width: 4rem;
}

#right{
  grid-row-start: 2;
  grid-column-start: 3;
  height: 3rem;
  width: 4rem;
}

#middle{
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: #2e2c31;
  border-collapse: collapse;
  border-radius: 20%;
  border: 2rem #2e2c31;
  height: 3rem;
  width: 3rem;
  box-shadow: 2px 3px #30272b;
}



@media screen and (max-width: 760px) {
  .main{
    width: 100%;
    position: absolute;
    margin-left: -8px;
    margin-right: -8px;
  }

  h1{
    margin-top: 2px;
    font-size: 25px;
  }

  .R_a{
    margin-right: 3%;
    margin-top: 2%;
    float: right;
  }

  .R_b{
    margin-right: 8%;
    margin-top: 10%;
    float: right;
  }

  .right_buttons{
    height: 4rem;
    width: 4rem;
  }

  #up{
    height: 3rem;
    width: 2rem;
  }

  #down{
    height: 3rem;
    width: 2rem;
  }

  #left{
    height: 2rem;
    width: 3rem;
  }

  #right{
    height: 2rem;
    width: 3rem;
  }

  #middle{
    height: 2rem;
    width: 2rem;
  }
}
