body{
  background-color: black;
  font-family: monospace;
  font-size: 14px;
}

header > nav{
  background-color: white;
  text-align: center;
  border-radius: 16px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

header > nav > a{
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-weight:bold;
}

a:hover{
  color: purple;
}

article{
  background-color: white;
  border-radius: 16px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

article > h2{
  margin-top: 0px;
  margin-bottom: 10px;
}

.calc{
  background-color: pink;
  border: 1px solid;
  border-color: purple;
  border-radius: 16px;
  margin-left: 18%;
  margin-right: 18%;
}

.calc-screen{
  width: 75%;
  font-size: 3rem;
  color: black;
  text-align: right;
  background-color: transparent;
  border: 1px solid purple;
  border-radius: 16px;
  padding-right: 20px;
  margin-top: 5%;
}

.calc-keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5%;
}

button{
  height: 3rem;
  font-size: 2em;
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid purple;
  margin: 4%;
}

button:hover{
  background-color: purple;
  color: white;
}

.equal{
  grid-row: 4 / 5;
  grid-column: 4;
}

.decimal{
  grid-row-start: 5;
}

.clear{
  grid-row-start: 3;
  grid-column-start: 4;
}

.del{
  grid-row-start: 2;
  grid-column-start: 4;
}

.calc-keys > p{
  font-size: 145%;
  font-weight: bolder;
  font-style: italic;
  margin: 10%;
}

.calc-keys > img{
  width: 50px;
  margin: 10%;
  margin-left: 20%;
}

footer{
  background-color: white;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
